@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes gradientPulse {
  0%, 100% {
    background-position: 30% 40%;
    filter: brightness(1);
  }
  50% {
    background-position: 32% 42%;
    filter: brightness(1.3);
  }
}

.animate-gradientPulse {
  animation: gradientPulse 10s ease-in-out infinite;
}

